@charset "UTF-8";

body{
    font-family: 'Calibri, Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    padding-left: 10px;
    max-width: 600px;
}

code{
    padding: 10px;
    font-size: 1.3em;
}

body{
    width: 100vw;
    height: 100vh;
}

h1{
    color: black;
}

h2{
    text-decoration: underline;
}
