@charset "UTF-8";

body{
    background: rgb(70,142,236);
    font: normal 1em Arial;
}

header{
    color:white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.322);
}

div#resultado{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}